---
import Card from "@/src/components/Card.astro";
import CardContent from "@/src/components/CardContent.astro";
import CardHeader from "@/src/components/CardHeader.astro";
import CardTitle from "@/src/components/CardTitle.astro";
import Icon from "@/src/components/Icon.astro";
import Pill from "@/src/components/Pill.astro";
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import { getExperience } from "@/lib/get-experience";
import { renderMarkdown } from "@/lib/render-markdown";
import { formatDate } from "@/lib/utils/format-date";

const { slug } = Astro.params;
const experience = slug ? await getExperience(slug) : null;

if (!experience) {
  return Astro.redirect("/", 302);
}

const midPoint = Math.ceil(experience.tech.length / 2);
const firstRow = experience.tech.slice(0, midPoint);
const secondRow = experience.tech.slice(midPoint);
const title = `${experience.role} at ${experience.company}`;
---

<BaseLayout title={title} description={experience.description}>
  <Card class="px-6 py-6">
    <div class="flex flex-row items-center gap-2">
      <img
        alt={experience.company}
        class="rounded-sm"
        height="30"
        src={experience.logo}
        width="30"
      />
      <div>
        <p class="font-bold">{experience.role}</p>
        <p>{experience.company}</p>
      </div>
    </div>
    <div class="mt-1 mb-2 flex flex-row items-center gap-2 text-gray-600">
      <Icon class="size-3 text-gray-600" name="calendar" />
      <p class="text-sm">
        {formatDate(experience.startDate)} - {experience.endDate ? formatDate(experience.endDate) : "Present"}
      </p>
    </div>
    <p>{experience.description}</p>
  </Card>

  <div class="relative">
    <Pill class="-top-1 -right-8 absolute rotate-[5deg]">
      Some cool stuff, huh.
    </Pill>
    <Card>
      <CardHeader>
        <CardTitle>Technologies</CardTitle>
      </CardHeader>
      <CardContent class="relative overflow-hidden">
        <div
          class="absolute top-0 left-0 z-10 h-full w-[100px] rounded-lg bg-linear-to-r from-card to-transparent"
        >
        </div>
        <div
          class="absolute top-0 right-0 z-10 h-full w-[100px] rounded-lg bg-linear-to-l from-card to-transparent"
        >
        </div>

        <div class="mb-4 flex">
          <div class="marquee-left-fast flex whitespace-nowrap">
            {[...firstRow, ...firstRow].map((tech) => <span class="mr-12">{tech}</span>)}
          </div>
        </div>

        <div class="flex">
          <div class="marquee-right flex whitespace-nowrap">
            {[...secondRow, ...secondRow].map((tech) => <span class="mr-12">{tech}</span>)}
          </div>
        </div>
      </CardContent>
    </Card>
  </div>

  <Card>
    <CardContent
      class="markdown-content prose prose-gray max-w-none py-6"
      set:html={renderMarkdown(experience.content)}
    />
  </Card>
</BaseLayout>
